<!--home.html-->

<div class="row">
    <div class="jumbotron">
        <h1>Speak Out</h1>
        <p>Let's share our thought with the other. And speak it to everyone.</p>
    </div>
</div>

<div class="row" ng-hide="user.status">
    <div class="col-lg-6">
        <h3>Already a member?</h3>
        <a href="#" class="btn btn-lg btn-primary" ui-sref="app.login">Login</a>
    </div>
    <div class="col-lg-6">
        <h3>Not a member yet?</h3>
        <a href="#" class="btn btn-lg btn-primary" ui-sref="app.create">Join the community</a>
    </div>
</div>

<!--/home.html-->
