<ion-view view-title="Speak Out">
    <ion-content>
        <div class="card">
          <div class="item item-text-wrap">
            Let's share our thought with the other. And speak it to everyone.
          </div>
        </div>
      
        <div class="card">
            <div class="item item-divider">
                Already a member?
            </div>
            <div class="item item-text-wrap">
                <label class="item">
                  <button class="button button-block button-positive" ng-click="login()">Login</button>
                </label>
            </div>
        </div>
        <div class="card">
          <div class="item item-divider">
            Not a member yet?
          </div>
          <div class="item item-text-wrap">
                <label class="item">
                  <button class="button button-block button-positive" ng-click="register()">Join the community</button>
                </label>
          </div>
      </div>
  </ion-content>
</ion-view>
