<ion-view view-title="Post">
  <div class="tabs-striped tabs-color-royal">
        <label class="item">
          <button class="button button-block button-positive" ng-click="doPost()">Post</button>
        </label>
  </div>
    <ion-content>
      <div class="card">
          <div class="item item-body item-text-wrap">
               <img class="full-image" src="./img/logo.png" alt="Propic">
                <h2>{{accountData.name}} {{accountData.lastname}}</h2>
                <p>{{accountData.status}}</p>
          </div>
      </div>
      <div class="row">
            <div class="col col-offset-10">
                <ul class="list">
                    <li><p><b>Gender</b> : <i>{{accountData.gender}}</i></p></li>
                    <li><p><b>Status</b> : <i>{{accountData.status}}</i></p></li>
                    <li><p><b>E-mail</b> : <i>{{accountData.email}}</i></p></li>
                    <li><p><b>Contact</b> : <i>{{accountData.contact}}</i></p></li>
                    <li><p><b>Facebook</b> : <i>{{accountData.facebook}}</i></p></li>
                    <li><p><b>Twitter</b> : <i>{{accountData.twitter}}</i></p></li>
                </ul>
            </div>
      </div>
      
      <ion-list ng-if="!showMenu">
        <p>{{message}}</p>
    </ion-list>
      
    <ion-list>
      <ion-item ng-repeat="post in posts | orderBy:'-time' | limitTo : load | filter: postData.username" href="#/app/post/{{post._id}}" class="item-thumbnail-left" ng-if="showMenu">
        <img src="./img/umaru_2.jpg">
        <h2>{{post.firstname}} {{post.lastname}}
        <span style="font-size:75%">{{post.time | date:'MM/dd/yyyy @ h:mma'}}</span>
        <p>{{post.text}}</p>
        <ion-option-button class="button-assertive icon ion-ios-arrow-forward"
            href="#/app/post/{{post._id}}">
        </ion-option-button>
      </ion-item>
    </ion-list>
        
  </ion-content>
        
    <div class="bar bar-footer">
        <button class="button button-full button-positive"  ng-click="loadMore()">
        Load More . . .
        </button>
    </div>
</ion-view>
